<div id="wrapper">
  <div id="container">
    <div id="outerContainer">
      <h2>TASKLIST:</h2>
      <div id="taskContainer"></div>
    </div>
    <form
      id="inputDiv"
      method="POST"
      action="/addTask"
      enctype="multipart/form-data">
      <textarea
        id="addTaskInput"
        placeholder="Add Task"
        name="todo"
        required></textarea>
      <input type="file" name="file" required />
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</div>
